header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #C4C4C4;
}

header h1 {
    color: black;
    font-size: 30px;
    font-weight: 400;
    margin-left: 30px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

header nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

/*-------------------------------------MAIN-------------------------------------*/

main {
    display: flex;
    flex-direction: column;
}

main h2 {
    color: black;
    font-size: 24px;
    font-weight: 400;
}

main p {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.eu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3f3f3;
    padding: 32px;
    gap: 125px;
}

.eu img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 0px #00000040;
}

.eu div p{
    height: 130px;
    width: 600px;
}